.brand-name {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: black;
  }

  .nav-text {
    font-size: 1.2rem;
    font-weight: 500;
    color: black !important;
    margin-right: 20px;
  }

  .nav-icon {
    font-size: 1.5rem;
    color: black !important;
    margin-left: 15px;
  }

  .nav-text:hover, .nav-icon:hover {
    color: gray !important;
  }

  .left-nav {
    margin-left: 0 !important;
    padding-left: 20px;
  }

  .right-icons {
    display: flex;
    align-items: center;
  }